{% extends 'base.html' %}

{% from "_helpers.html" import render_tags, render_delta %}

{% block heading %} Dashboard: What's Up Today {% endblock %}
{% block content %}

    <div class="row">
        <div class="well">
            <p>
                <i class="icon-bell"></i>
                {% if next_sleep.eta_is_negative %}
                    Я думал, ты уже спишь ≈{{ format_delta(next_sleep.eta) }}, чтобы проснуться около {{ next_sleep.end.strftime('%H:%M') }}. Уверен, что не пора?
                {% else %}
                    Если
                    <strong>
                        {% if next_sleep.eta.total_seconds() > 60*60 %}
                            через {{ format_delta(next_sleep.eta, '{hours}') }} ч.
                        {% else %}
                            в течение часа
                        {% endif %}
                    </strong>
                    уснешь, проснешься около {{ approx_time(next_sleep.end) }} после {{ format_delta(next_sleep.duration, '{hours}') }}-часового сна.
                {% endif %}
                (См. <a href="{{ url_for('timetra.report_drift') }}">режим сна</a> и <a href="{{ url_for('timetra.report_predictions') }}">список предсказаний</a>)
            </p>

            {% for message in methodology.analyse_day() %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <h2>Categories</h2>
        <dl class="dl-horizontal">
            {% for item in stats|reverse %}
                <dt>{{ item.category }}</dt>
                <dd>
                    <div class="progress progress-{{ appraise_category(item.category) }}">
                        <div class="bar" style="width: {{ item.percentage }}%;">
                            {{ item.duration }}
                        </div>
                    </div>
                </dd>
            {% endfor %}
        </dl>
    </div>

    <h2>History</h2>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Time</th>
                <th>Duration</th>
                <th>Activity</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fact in facts %}
                <tr>
                    <td>{{ fact.start_time.strftime('%H:%M') }}</td>
                    <td>{{ render_delta(fact) }}</td>
                    <td><a href="{{ url_for('timetra.activity', activity=fact.activity) }}" class="label label-{{ appraise_category(fact.category) }}">{{ fact.activity }}</a></td>
                    <td>{% if fact.description %}{{ fact.description|replace('\n','<br>')|safe|urlize }}{% endif %}</td>
                    <td>{{ render_tags(fact.tags) }}</td>
                    <td><a href="{{ url_for('timetra.edit_fact', fact_id=fact.id) }}"><i class="icon-pencil"></i></a></td>

                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock %}
